Install Homebrew (if not already installed)
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

pip3 install Appium-Python-Client
pip3 install pytest
pip3 install allure-pytest


Install required packages via Homebrew
brew install node
brew install watchman
brew install android-platform-tools

Install Android Studio (for emulator/device management)
brew install --cask android-studio

Open Android Studio once.

Go to Preferences > Appearance & Behavior > System Settings > Android SDK.

Install:
Android SDK Tools
Android Emulator-Name Test
One or more SDK Platforms (API 34)

Launch the Emulator




